/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*===== VARIABLES CSS =====*/
:root {

  /*========== Colors ==========*/
  --color-primary: crimson;
  --first-color-alt: #f61642;
 
  --text-color-light: #A6A6A6;
  --body-color: #FBFEFD;
  --container-color: #FFFFFF;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --name-font-size:.99rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px){
  :root{
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --name-font-size:1rem;
    --normal-font-size: .95rem;
    --small-font-size: .78rem;
    --smaller-font-size: .75rem;
  }
}



/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: rgb(252, 245, 246);
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: var(--h1-font-size);
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #2c4964;
    text-transform: uppercase !important;
  }
  
  .section-title h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
  }
  
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: crimson;
    bottom: 0;
    left: calc(50% - 20px);
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  


.dropdown-item.active, .dropdown-item:active {
    color: #fff !important;
    text-decoration: none !important;
    background-color: crimson !important;
}

.carousel-image-upload span, .cursor-pointer{
    cursor: pointer !important;
}


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

.about .about-heading p{
    font-size: var(--h1-font-size);
}

.about .about-edit-heading input{
    width: 600px;
    height: 60px;
}
.about .about-edit-text input{
    width: 600px;
    height: 200px;
}

/*--------------------------------------------------------------
# Recent News Section
--------------------------------------------------------------*/

.recent-news .news-heading p{
    font-size: var(--h3-font-size);
    font-weight:var(--font-medium);
}

.recent-news h4{
    text-decoration: underline !important;
    font-weight:var(--font-semi-bold);
}

/*--------------------------------------------------------------
# Footer Section
--------------------------------------------------------------*/

footer .footer-background{
    background-color: #262324;
}
